#navbar {
  // display: grid;
  align-items: baseline;

  height: 100px;
  width: 100vw;

  padding: 20px 40px;

  h1 {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    span {
      color: #00aa5b;
    }
  }

  a {
    position: relative;
    float: right;
    top: 4px;
  }

  & > div {
    width: 100%;
    height: 100%;
    border: solid 1px;
  }
}
